*                                                            @Riskified/dev-post-fulfill-connect-sg  @Riskified/operations-integrations-dev-sg
/.github/                                                    @Riskified/dev-platform-engineering-sre-sg  @Riskified/biztech-security-secops-sg
/.infrastructure/                                            @Riskified/dev-platform-engineering-sre-sg  @Riskified/biztech-security-secops-sg
/.infrastructure/terraform/aws/accounts/**/dynamodb.tf       @Riskified/dev-platform-engineering-data-apps-sg
/.infrastructure/terraform/aws/accounts/**/elasticache.tf    @Riskified/dev-platform-engineering-data-apps-sg
/.metadata/REPOSITORYOWNERS                                  @Riskified/biztech-security-secops-sg
