parameters:
	ignoreErrors:
		-
			message: '#^PHPDoc tag @throws with type Riskified\\DecisionNotification\\Model\\NotificationException is not subtype of Throwable$#'
			identifier: throws.notThrowable
			count: 1
			path: src/Riskified/DecisionNotification/Model/Notification.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 2
			path: src/Riskified/OrderWebhook/Model/AbstractModel.php

		-
			message: '#^Array has 2 duplicate keys with value ''country_code'' \(''country_code'', ''country_code''\)\.$#'
			identifier: array.duplicateKey
			count: 1
			path: src/Riskified/OrderWebhook/Model/LineItem.php

		-
			message: '#^Method Riskified\\OrderWebhook\\Transport\\AbstractTransport\:\:send_checkout\(\) invoked with 3 parameters, 2 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Riskified/OrderWebhook/Transport/AbstractTransport.php

		-
			message: '#^PHPDoc tag @param has invalid value \(hash object named ''settings'' with a key\-value structure\)\: Unexpected token "object", expected variable at offset 59 on line 3$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/Riskified/OrderWebhook/Transport/AbstractTransport.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Riskified/OrderWebhook/Transport/AbstractTransport.php

		-
			message: '#^Parameter \#2 \$throw of function spl_autoload_register expects bool, null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Riskified/autoloader.php
